{% extends 'store/main.html' %}
{% load static %}
{% block content %}


    <div class="cart">
        <div class="container">
            {% if items %}
            <h3>Shopping cart</h3>
            {% for item in items %}
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ item.product.imageUrl }}" alt="productImage">
                    </div>
                    <div class="col-md-4">
                        <h5>{{ item.product.name }}</h5>
                        <p>{{ item.product.shortDescription }}</p>
                        <span class="estimation"><i class="fa fa-truck" aria-hidden="true"></i> 3-4 weeks</span>
                        <span class="estimation"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> $5</span>
                        <h5 class="price mb-0">€{{ item.product.price|floatformat:2 }}</h5>
                    </div>
                    <div class="col-md-4" style="display:flex; align-items: center; justify-content: center;">
                        <div class="quantity">
                            <span data-product="{{ item.product.id }}" data-action="add"
                                  class="update-cart chg-quantity"><i class="fa fa-arrow-up"
                                                                      aria-hidden="true"></i></span>
                            <span>{{ item.quantity }}</span>
                            <span data-product="{{ item.product.id }}" data-action="remove"
                                  class="update-cart chg-quantity"><i class="fa fa-arrow-down"
                                                                      aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="final">
                <h5 class="mb-0">Total price: {{ order.get_cart_total|floatformat:2 }}</h5>
                <a href="{% url 'checkout' %}" class="btn btn-primary">Proceed with payment
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </div>
            {% else %}
                <h3 class="mb-0">The cart is currently empty.</h3>
                <a href="{% url 'store' %}" class="btn btn-primary">Order now
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock content %}