{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="products">
        <div class="container">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <h3>Our products</h3>
            {% if request.user.is_staff %}
                <a href="{% url 'add_product' %}" class="add-product-button btn btn-primary">Add new product</a>
            {% endif %}
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product">
                            <img src="{{ product.imageUrl }}" alt="Ludo game">
                            <h5>{{ product.name }}</h5>
                            <p>{{ product.shortDescription }}</p>
                            <h5>€{{ product.price|floatformat:2 }}<span>Incl. BTW</span></h5>
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}